#map {
    width: 100%;
    height: 20rem;

h1 {
    // @include flex-grid-column();
    @include clearfix();
}}
h1.contact {
    margin-left: 0.5rem;
}
table {
    font-size: 0.5rem;
    // height: 20rem;
    thead {
        font-size: 0.8rem;
    }
    td {
        // transition: 0.5s;
        font-size: 0.7rem;
        &:hover {
            // border: 2px solid black;
            background-color: darken(tomato, 80%);
            transform: scale(1.4) ;
            // font-size: 110%;
            // transition: 0.1s;
        }
    }   
}