table.hover(width='100%', cellpadding='5', cellspacing='0', border='1', style='border-color:#666666;')
  thead
    tr
      th.red  
      th.red MONDAY
      th.red TUESDAY
      th.red WEDNESDAY
      th.red THURSDAY
      th.red FRIDAY
      th.red SATURDAY
      th.red SUNDAY
  tbody
    tr
      td.schedtimes 7:00 am
      td.schedule
        // Monday 7AM
      td.schedule
        // Tuesday 7AM
        i
          | 6:30am - 7:15am
          br
          | Spinning - Allie
      td.schedule
        // Wednesday 7AM
        i
          | 6:45am - 7:30am
          br
          | Spinning - Julia
        br
        br
        | 7:00am
        br
        | Body Sculpt - Tracie
      td.schedule
        // Thursday 7AM
        | 7:00am
        br
        | Yoga - Hannah
      td.schedule
        // Friday 7AM
      td.schedule
        // Saturday 7AM
      td.schedule
        // Sunday 7AM
    tr
      td.schedtimes 8:00 am
      td.schedule
        // Monday 8AM
      td.schedule
        // Tuesday 8AM
      td.schedule
        // Wednesday 8AM
      td.schedule
        // Thursday 8AM
      td.schedule
        // Friday 8AM
      td.schedule
        // Saturday 8AM
      td.schedule
        // Sunday 8AM
    tr
      td.schedtimes 9:00 am
      td.schedule
        // Monday 9AM
      td.schedule
        // Tuesday 9AM
      td.schedule
        // Wednesday 8AM
      td.schedule
        // Thursday 9AM
      td.schedule
        // Friday 9AM
      td.schedule
        // Saturday 9AM
      td.schedule
        // Sunday 9AM
    tr
      td.schedtimes 10:00 am
      td.schedule
        // Monday 10AM
      td.schedule
        // Tuesday 10AM
      td.schedule
        // Wednesday 10AM
      td.schedule
        // Thursday 10AM
      td.schedule
        // Friday 10AM
      td.schedule
        // Saturday 10AM
        | 10:30am
        br
        | Body Sculpt - Allyson
        br
        br
        i
          | 10:15am – 11:00am
          br
          | Spinning - Ifrat
      td.schedule
        // Sunday 10AM
    tr
      td.schedtimes 11:00 am
      td.schedule
        // Monday 11AM
      td.schedule
        // Tuesday 11AM
      td.schedule
        // Wednesday 11AM
      td.schedule
        // Thursday 11AM
      td.schedule
        // Friday 11AM
      td.schedule
        // Saturday 11AM
        i
          | 11:15am – 12:00pm
          br
          | Spinning - Ifrat
        br
        br
        | 11:30am - 12:45pm
        br
        | Yoga - Ursula
      td.schedule
        // Sunday 11AM
    tr
      td.schedtimes 12:00 pm
      td.schedule
        // Monday 12PM
        | 12:30pm
        br
        | Yoga - Melissa
      td.schedule
        // Tuesday 12PM
        | 12:00pm
        br
        | Pilates - Chloe
        br
        br
        i
          | 12:45pm – 1:30pm
          br
          | Spinning - Heather
      td.schedule
        // Wednesday 12PM
        | 12:30pm-1:45pm
        br
        | Yoga - Ursula
      td.schedule
        // Thursday 12PM
        | 12:00pm
        br
        | Yoga - Jessica
      td.schedule
        // Friday 12PM
        i
          | 12:00pm – 12:45pm
          br
          | Spinning
          br
          | Terra
        br
        br
        | 12:45pm
        br
        | Pilates - Adrianna
      td.schedule
        // Saturday 12PM
        i
          | 12:30pm – 1:15pm
          br
          | Spinning - Terra
      td.schedule
        // Sunday 12PM
    tr
      td.schedtimes 1:00 pm
      td.schedule
        // Monday 1PM
      td.schedule
        // Tuesday 1PM
      td.schedule
        // Wednesday 1PM
      td.schedule
        // Thursday 1PM
      td.schedule
        // Friday 1PM
      td.schedule
        // Saturday 1PM
        | 1:00pm
        br
        | Pilates - Yulia
      td.schedule
        // Sunday 1PM
    tr
      td.schedtimes 2:00 pm
      td.schedule
        // Monday 2PM
      td.schedule
        // Tuesday 2PM
      td.schedule
        // Wednesday 2PM
      td.schedule
        // Thursday 2PM
      td.schedule
        // Friday 2PM
      td.schedule
        // Saturday 2PM
      td.schedule
        // Sunday 2PM
// part 2
// table.hover(width='100%', cellpadding='5', cellspacing='0', border='1', style='border-color:#666666;')
//   thead
//     tr
//       th.red  
//       th.red MONDAY
//       th.red TUESDAY
//       th.red WEDNESDAY
//       th.red THURSDAY
//       th.red FRIDAY
//       th.red SATURDAY
//       th.red SUNDAY
//   tbody
//     tr
//       td.schedtimes 3:00 pm
//       td.schedule
//         // Monday 3PM
//       td.schedule
//         // Tuesday 3PM
//       td.schedule
//         // Wednesday 3PM
//       td.schedule
//         // Thursday 3PM
//       td.schedule
//         // Friday 3PM
//       td.schedule
//         // Saturday 3PM
//       td.schedule
//         // Sunday 3PM
//     tr
//       td.schedtimes 4:00 pm
//       td.schedule
//         // Monday 4PM
//       td.schedule
//         // Tuesday 4PM
//       td.schedule
//         // Wednesday 4PM
//       td.schedule
//         // Thursday 4PM
//       td.schedule
//         // Friday 4PM
//       td.schedule
//         // Saturday 4PM
//       td.schedule
//         // Sunday 4PM
//     tr
//       td.schedtimes 5:00 pm
//       td.schedule
//         // Monday 5PM
//       td.schedule
//         // Tuesday 5PM
//       td.schedule
//         // Wednesday 5PM
//       td.schedule
//         // Thursday 5PM
//       td.schedule
//         // Friday 5PM
//       td.schedule
//         // Saturday 5PM
//       td.schedule
//         // Sunday 5PM
//         | 5:30pm
//         br
//         | Cardio Kick - Ebbony
//         br
//         br
//         i
//           | 5:45pm – 6:30pm
//           br
//           | Spinning

//     tr
//       td.schedtimes 6:00 pm
//       td.schedule
//         // Monday 6PM
//         | 6:00pm-7:00pm
//         br
//         | Yoga - Rebecca
//       td.schedule
//         // Tuesday 6PM
//         | 6:00pm
//         br
//         | CoreFit
//         br
//         | Ryan
//         br
//         br
//         i
//           | 6:00-6:45pm
//           br
//           | Spinning - Terra
//       td.schedule
//         // Wednesday 6PM
//         | 6:00pm
//         br
//         | Total Body - Kole
//         br
//         br
//         i
//           | 6:15pm - 7:00pm
//           br
//           | Spinning
//       td.schedule
//         // Thursday 6PM
//         | 6:00pm
//         br
//         | Pilates - Amira
//         br
//         br
//         i
//           | 6:15pm - 7:00pm
//           br
//           | Spinning - Terra
//       td.schedule
//         // Friday 6PM
//         | 6:30pm
//         br
//         | Yoga - Kyle
//       td.schedule
//         // Saturday 6PM
//       td.schedule
//         // Sunday 6PM
//         | 6:30pm
//         br
//         | Yoga - Melissa
//     tr
//       td.schedtimes 7:00 pm
//       td.schedule
//         // Monday 7PM
//         i
//           | 7:00pm – 7:45pm
//           br
//           | Spinning - Shelby
//           br
//           br
//           | 7pm
//           br
//           | Pilates -
//           br
//           | Lauren E.
//       td.schedule
//         // Tuesday 7PM
//         | 7:00pm
//         br
//         | Yoga - Kyle
//       td.schedule
//         // Wednesday 7PM
//         | 7:00pm
//         br
//         | Yoga - Ursula
//       td.schedule
//         // Thursday 7PM
//         i
//           | 7:15pm-8:00pm
//           br
//           | Spinning - Annie
//         br
//         br
//         | 7:00pm
//         br
//         | Zumba - Dorna
//       td.schedule
//         // Friday 7PM
//       td.schedule
//         // Saturday 7PM
//       td.schedule
//         // Sunday 7PM
//     tr
//       td.schedtimes 8:00 pm
//       td.schedule
//         // Monday 8PM
//         i
//           | 8:00pm – 8:45pm
//           br
//           | Spinning - Lauren
//           br
//           br
//           | 8:15pm
//           br
//           | Zumba – Ebbony
//       td.schedule
//         // Tuesday 8PM
//         | 8:00pm
//         br
//         | Boxing - Justin
//         br
//         br
//         i
//           | 8:00pm - 8:45pm
//           br
//           | Spinning - Annie
//       td.schedule
//         // Wednesday 8PM
//         i
//           | 8:00pm – 8:45pm
//           br
//           | Spinning - Lauren
//         br
//         br
//         | 8:00pm
//         br
//         | Pilates - Yulia
//       td.schedule
//         // Thursday 8PM
//       td.schedule
//         // Friday 8PM
//       td.schedule
//         // Saturday 8PM
//       td.schedule
//         // Sunday 8PM
