block vars
    - title_ext = 'Careers'
    - page = "careers"
extends layouts/_layout

block content
    h1= title_ext
    p We are looking for the following positions to be filled:
    ul
        li Experienced personal trainers
        li Class instructors in all disciplines (Yoga, Pilates, Aerobic classes, Kickboxing, etc.)
        li Please submit resumes via email and we will contact you shortly.
    p For career inquiries, contact #[a(href="mailto:careers@ludlowfitness.com") careers@ludlowfitness.com].

    