block vars
    - title_ext = 'Press'
    - page = "press"
extends layouts/_layout

block content
  h1= title_ext
  h6 For press inquiries, contact #[a(href="mailto:press@ludlowfitness.com") press@ludlowfitness.com].
  h3 Read about Ludlow Fitness in:
  ul
    li #[a(href='http://www.villagevoice.com/best-of/2015/sports-and-recreation/best-gym-7782389') The Village Voice] BEST GYM IN NYC
    li #[a(href="http://logansquarist.com/2014/07/24/logan-square-fitness-opens/") LoganSquarist.com] Logan Square Fitness Opens - Read about our new location in Chicago!
    li #[a(href="http://www.timeout.com/newyork/fitness/best-gyms-and-health-clubs-in-new-york-city") TimeOut Magazine] Best Gyms 2014
        |Best Gym in NY for Beginner-friendly vibe: Ludlow Fitness
        |Talk about laid-back. First of all, most people come in wearing ripped sweats and tees—not Lululemon gear. Second, the majority of the staff lives in the neighborhood, creating a very welcoming, where-everybody-knows-your-name community atmosphere. Third, instructors are trained to say gentle things like “One more rep to make you stronger for next time!” rather than “One more rep—do or die!” And lastly, the teachers break up cliques in the group fitness classes so that greenhorns will be more comfortable.
    li NBC-TV Best Gyms Segment: Time Out New York tells us about the best gyms in the city
    li Roscoe View Journal Article on our new Chicago location, Southport Fitness
    li New York Magazine Best of 2011
    li Refinery29: New York
    li The Lo-Down: News from the Lower East Side
    li Body Shapers: Grand Street News Cover Story
    li Fit For An Actor
    li Public Radio Marketplace Morning Report

    li Time Out New York
    li The New York Times Exciting news of Ludlow Fitness member using our facility!
    li Mapcidy
    li Luxury Spot
    li Racked.com Testimonial
    li The Real Deal - New York Real Estate
    li New York Metro
    li Crain's
    li Grand Street News: 1 | 2

  br
  br