block vars
    - title_ext = 'Shedule'
    - page = "shedule"
extends layouts/_layout

block content
    h1= title_ext
    p All classes are tailored to a group fitness environment. Our certified and experienced instructors are well-aware that members vary in ability and offer movement modifications to make the class efficient and effective for everyone! We provide all accessories like yoga/pilates mats, yoga blocks, dumbbells, boxing gloves and pads, jump ropes, aerobic balls, etc.
    p Click here to #[a(href="http://www.ludlowfitness.com/LudlowFitnessSchedule.pdf") download our schedule] in print-friendly PDF format.
    .row
      .small-12.columns
        include includes/_table
    br
    br