block vars
    - title_ext = 'Staff'
    - page = "staff"
extends layouts/_layout

block content
  h1= title_ext
  h3.light-gold Mason Goldberg - Owner
  p Mason brings a dynamic skill set to his ownership responsibilities. This entrepreneur has spent 6 years in the fitness industry covering all aspects of running a club, which helped create his vision – Ludlow Fitness. He also spent 8 years in the fashion world running accessory businesses for Kenneth Cole, Calvin Klein, Sean John and private label brands for Federated Department Stores. An earlier work experience that influenced Mason’s resume was his participation with Donald Trump as his retail real estate broker for many of his NYC properties. Mason’s abilities have formed a positive business approach that helps build membership while being sensitive and understanding to member’s daily needs.
  p Mason grew up in Riverdale, NY and attended Riverdale Country School. He then went on to Lehigh University in Bethlehem, PA and graduated with a business degree in 1997. From a young age Mason was committed to athletics and physical fitness and it was only a matter of time before he took his personal passions into a business opportunity
  p Currently, Mason lives in the Union Square area, but really calls home – Ludlow Fitness!
  
  h3.light-gold Timothy Cruz - Manager
  p After years of traveling the globe, Timothy has found his way back to the lower east side where he grew up only blocks away from Delancey and Ludlow Streets. Timothy achieved recognition in the music business as a performer and as a manager. His creative skills and strong work ethic brings great balance to organizing Ludlow Fitness’s staff and daily schedules. Timothy’s main goal is to establish a comfortable work-out environment and make sure all members’ needs are satisfied.
  p Timothy’s energy has been focused on physical fitness for over 10 years and he brings a wealth of training knowledge and nutritional awareness that will benefit Ludlow’s members.

  br
  br